@using Microsoft.AspNetCore.Identity
@model TaskManager.Core.Models.Comment
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
    
    var taskId = 1;
    var user = await UserManager.GetUserAsync(User);
    //var taskIdString = ViewData["TaskId"] as string;
    //var taskId = taskIdString != null ? int.Parse(taskIdString) : 0;
    
}

<h1>Create</h1>
<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Comentário</label>
                <input asp-for="TextContent" class="form-control"/>
                <span asp-validation-for="TextContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Email</label>
                <select asp-for="User.Name" class="form-control">
                    @if (user.UserName != null)
                    {
                        <option value="@user.UserName">@user.UserName</option>
                    }
                    else
                    {
                        <option value="">Usuário não disponível</option>
                    }
                </select>
            </div>
            <div style="display: none" class="form-group">
                <label asp-for="TaskId" class="control-label"></label>
                <input asp-for="TaskId" class="form-control">@taskId</input>
            </div>
            <div class="form-group">
                <label asp-for="PreviousCommentId" class="control-label"></label>
                <select asp-for="PreviousCommentId" class="form-control" asp-items="ViewBag.PreviousCommentId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

